# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
server/.env
client/.env

# Build outputs
client/dist/
server/generated/prisma/
package-lock.json
package.json